* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  position: sticky;
  top: 0;
  background-color: #379;
  padding-bottom: 5px;
  padding-top: 0;
}
.underline {
  height: 2px;
  width: 10%;
  background-color: red;
  align-self: center;
}

.container {
  display: grid;
  grid-template-columns: 5fr;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  text-align: justify;
}

hr {
  width: 90%;
  margin: auto;
}

.text {
  margin: 0 30px;
  text-align: justify;
}

header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  margin-top: 10px;
  color: rgb(45, 105, 193);
}

img {
  border-radius: 10%;
  transition: border-radius ease-out 1s;
}

img:hover {
  border-radius: 8%;
}

.photo {
  width: 300px;
  height: 200px;
  box-shadow: 6px 6px 5px rgb(0, 0, 0, 0.3);
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.btn {
  margin-left: 5px;
  padding: 5px;
  width: 15%;
  text-transform: uppercase;
  text-align: center;
  border-radius: 10px;
  border: none;
  outline: none;
  color: rgb(45, 105, 193);
  background-color: #ccc;
}
.btn:hover {
  color: #f4f4f4;
  background-color: rgb(58, 55, 119);
}

.switch {
  position: fixed;
  top: 10px;
  right: 5px;
  width: 20%;
  height: 5%;
  border-radius: 20px;
  outline: none;
  background: url("./images/day.png") left center no-repeat,
    url("./images/night.png") right center no-repeat;
  background-size: contain;
  background-color: black;
  box-shadow: 1px 1px 4px rgb(250, 250, 250);
}

.toggle {
  height: 100%;
  width: 50%;
  background-color: #f4f4f4;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 20px;
}

.slide .toggle {
  left: 0;
}

@media screen and (min-width: 900px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin: 0 20px;
  }
  .menu {
    display: grid;
    grid-template-areas: "photo head";
    margin-top: 10px;
  }

  img {
    border-radius: 20%;
  }
  .photo {
    grid-area: photo;
    width: 200px;
    height: 200px;
  }
  .header {
    grid-area: head;
    margin: 10px;
  }
  .title {
    font-size: 2.5rem;
  }
  .text {
    margin: 10px;
  }
  .btn {
    margin-left: 10px;
    padding: 5px;
    width: 14%;
    font-size: 1.1rem;
  }

  .switch {
    width: 7%;
    right: 50px;
  }
}
